# Supabase Configuration
VITE_SUPABASE_URL=https://rqlirjqyzggsifnpyeew.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJxbGlyanF5emdnc2lmbnB5ZWV3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc1NzE4NjEsImV4cCI6MjA5MzE0Nzg2MX0.PalVi15ZZIU06b3OE5XzSeSzwxB9-ekanpRUchm96TU

